<html lang="pt-BR" ng-app="app">
<head>
  <meta charset="utf-8"/>
  <title>Cadastro de alunos</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
  <script src="../app.js"></script>    
</head>
<body>
  <h2>Cadastro de alunos</h2>
  <div ng-controller="MyCtrl">  
    Aluno<input type="text" class="form-control input-lg" ng-model="nome" placeholder="Nome do aluno">
		<p>Cod. Matéria<input type="text" class="form-control input-lg" ng-model="idMateria" placeholder="cód matéria">
    <p><input type="button" value="Inserir" ng-click="incluir(nome, idMateria)">
  </div>  
</body>
</html>
